.git
.gitignore
.env.example
.DS_Store
node_modules
npm-debug.log
yarn-error.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.editorconfig
*.md
LICENSE
docker-compose.yml
.vscode
.idea
.gitattributes
